header{
    background-color: #1e1e1e;
    padding: 30px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    position: sticky;
    top: 0;
    z-index: 1;
    transition: background-color 0.3s ease;
}

header > ul {
    display: flex;
    gap: 20px;
}


.headerButton{
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

#aboutMe{
    border: 1px solid white;
    background-color: transparent;
    color: white;
}

#aboutMeLight{
    border: 1px solid black;
    background-color: transparent;
    color: black;
}

#contact{
    border: none;
}

#contactLight{
    border: none;
    background-color: black;
    color: white;
}

#darkTheme::before{
    content: "🌙";
}

#lightTheme::after{
    content: "☀️";
}

.themeButton{
    border: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
}

@media (max-width: 500px){
    .headerButton{
        display: none;
    }
    header h1{
        font-size: 20px;
    }
}