.buttons {
	width: 280px;
	margin: 35px auto;
	position: relative;
	border-radius: 30px;
	box-shadow: 0px 0px 10px #1e1e1e;
	background: var(--lightThemeBackground);
	font-family: "Poppins", sans-serif;
	font-weight: bold;
}

.toggle-btn {
	padding: 10px 40px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
	text-align: center;
}

#btn {
	left: 0;
	top: 0;
	position: absolute;
	width: 140px;
	height: 100%;
	background: var(--linearGradient);
	border-radius: 30px;
	transition: .5s;
}