.buttons {
	width: 300px;
	margin: 35px auto;
	position: relative;
	border-radius: 30px;
	background: #fff;
	font-family: "Poppins", sans-serif;
	font-weight: bold;
}

.toggle-btn {
	padding: 10px 45px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
	text-align: center;
}

#btn {
	left: 0;
	top: 0;
	position: absolute;
	width: 150px;
	height: 100%;
	background: var(--linearGradient);
	border-radius: 30px;
	transition: .5s;
}