.experienceHidden{
    display: none;
}


.experience{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

.experience > h2{
text-transform: uppercase;
font-size: 40px;

}
.experience > span{
    text-transform: uppercase;
    background: var(--linearGradient);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 15px;
    letter-spacing: 5px;
}

.experience > p{
    text-align:justify;
}


.skills{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.skill{
    background-color: var(--darkBackground);
    color: var(--lightTextColor);
    padding: 10px;
    border-radius: 30px;
    border: 1px solid var(--linearGradient);
}


.ocupation{
    margin-top: 50px;
    min-width: 50%;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.ocupation h3{
    text-align: center;
}

.position{
    font-weight: 400;
}