.myProjects{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

.myProjects > h2{
text-transform: uppercase;
font-size: 40px;

}
.myProjects > span{
    text-transform: uppercase;
    background: linear-gradient(90deg, #9C83FF 0%, #FF9051 100%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 15px;
    letter-spacing: 5px;
}


.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
}

.projectContainer{
    width: 400px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    gap: 20px;
}

.projectContainer img{
    width: 70%;
    height: 50%;
    object-fit: cover;
    border-radius: 10%;
}

.projectContainer p{
    padding: 30px;
}


.projectButton{
    width: 100px;
    height: 20px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 15px;
    padding: 20px;
    font-weight: bold;
    transition: 300ms;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectButton:hover{
    scale: 1.1;
}

.projectButton::before{
    content: url("../../public/githubIcon.svg");
    margin-right: 10px;
}