.aboutMe{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

.aboutMe > h2{
text-transform: uppercase;
font-size: 40px;

}
.aboutMe > span{
    text-transform: uppercase;
    background: var(--linearGradient);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 15px;
    letter-spacing: 5px;
}

