.socialMedia{
    margin-top: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 25px;
    gap: 20px;
    color: var(--lightTextColor);
}


.darkIcons{
    color: var(--darkTextColor);
}




.copyright{
    width: 100%;
    padding: 10px;
    text-align: center;
}